table {
     border-collapse: collapse;
     width: 100%;
     color: #588c7e;
     font-family: monospace;
     font-size: 21px;
     text-align: left;
}

input {
     width: 30%;
     color: #588c7e;
     font-family: monospace;
     font-size: 21px;
     text-align: center;

}

th {
     background-color: #587c7e;
     color: white;
}

tr:nth-child(even) {
     background-color: #f2f2f2
}

